/* Footer css */

.custom-footer .footer__content-top {

    margin-left: auto;
    margin-right: auto;
}

.custom-footer .footer__content-top .footer-container {
    border: 1px solid #fff;
    border-radius: 28px;
    padding: 30px;
}

.footer-block--newsletter {
    width: 50%;
}

.custom-footer-im {
    padding-bottom: 40px;
    width: 50%;
}

.custom-footer-im img {
    width: auto;
    height: auto;
    max-width: 100%;
}

.custom-footer .custo-first {
    padding-top: 60px;
}

.custom-footer .list-social {
    justify-content: flex-start !important;
    padding-top: 0;
}

.custom-footer ul.footer-block__details-content.list-unstyled li {
    text-transform: uppercase;
}

.custom-footer .footer-block__newsletter {
    align-items: center !important;
    padding-top: 45px;
}


.custom-footer .footer__blocks-wrapper.grid.grid--1-col.grid--2-col.grid--4-col-tablet.scroll-trigger.animate--slide-in {
    border-top: 1px solid #EEE4CE;
    padding-top: 44px;
}


.custom-footer .footer-block--newsletter {
    border-top: 1px solid #EEE4CE;
    align-items: flex-start !important;
    margin-top: 139px;
}

.footer__content-bottom {
    border-top: unset !important;
}

.custom-footer h2.footer-block__heading.inline-richtext {
    text-align: justify;
}

.newsletter-form {
    max-width: unset !important;
}

.cu-priv {
    padding-top: 0;
}

.footer-top_nav,
.footer-bottom_nav {
    display: flex;
    gap: 55px;
    align-items: center;
}

.footer-top_nav>*,
.footer-bottom_nav>* {
    flex: 0 0 calc(50% - 27.5px);
    max-width: 100%;
}

/* Newsletter Block */
.footer-top_nav .newsletter-form__button {
    position: relative;
    top: auto;
    left: auto;
    bottom: auto;
    right: auto;
}

.footer-top_nav .newsletter-form__field-wrapper .field:after,
.footer-top_nav .newsletter-form__field-wrapper .field:before {
    display: none;
}

.footer-top_nav .newsletter-form__field-wrapper .field .field__input,
.footer-top_nav .newsletter-form__button {
    border-radius: var(--inputs-radius-outset);
    border: 1px solid #fff;
}

@media (max-width: 1024px) {
    .custom-footer .footer__content-top {
        flex-direction: column;
        padding: 0 20px;
    }

    .custom-footer .footer__content-top .footer-container {
        padding: 25px;
    }

    .footer-block--newsletter,
    .custom-footer-im {
        width: 100%;
        padding-bottom: 30px;
    }

    .custom-footer .footer__blocks-wrapper {
        flex-wrap: wrap;
        gap: 30px;
        border-top: 1px solid #EEE4CE;
        padding-top: 30px;
    }

    .custom-footer .footer-block--newsletter {
        margin-top: 146px;
        padding-top: 20px;
    }

    .footer-top_nav,
    .footer-bottom_nav {
        gap: 25px;
        align-items: flex-start;
    }

    .custom-footer .footer-block__newsletter {
        padding-top: 37px;
    }

    .footer-top_nav>*,
    .footer-bottom_nav>* {
        flex: 1 1 100%;
    }
}

@media (max-width: 767px) {
    .custom-footer .footer__content-top {
        padding: 0 15px;
    }

    .custom-footer .footer__content-top .footer-container {
        padding: 15px;
    }

    .footer-block--newsletter,
    .custom-footer-im {
        width: 100%;
        padding-bottom: 20px;
    }

    .custom-footer .footer__blocks-wrapper.grid--4-col-tablet {
        grid-template-columns: 1fr !important;
        gap: 15px;
    }

    .custom-footer .footer-block--newsletter {
        margin-top: 60px;
    }

    .footer-top_nav,
    .footer-bottom_nav {
        flex-direction: column;
        gap: 15px;
        align-items: flex-start;
    }

    .footer-top_nav>*,
    .footer-bottom_nav>* {
        flex: 1 1 100%;
    }

    .custom-footer .custo-first {
        padding-top: 30px;
    }

    .custom-footer h2.footer-block__heading.inline-richtext {
        text-align: left;
    }

    .custom-footer .footer-block--newsletter {
        margin-top: 0px;
    }

    .custom-footer .footer-block--newsletter {
        padding-top: 0px;
    }
}